
/*NAVBAR HEADER*/

header {
    background-color:#1F2937;
    width:100%;
    font-family: 'Josefin Sans', sans-serif;
}

header a:link {
    font-size:18px;
    color:#E5E7EB;
    text-decoration:none;
}

.navbar {
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:center;
    background-color:#1F2937;
    width:100%;
    height:5em;

}


.hero-text {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
    font-family: 'Yeseva One', cursive;
}

.subtext {
    font-size:18px;
    letter-spacing:2px;
    font-family: 'Josefin Sans', sans-serif;
    color:#E5E7EB;
}

/*MAIN BODY*/

.awesome-website {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;    
    background-color:#1F2937;
    color:#E5E7EB;
}

.awesome-text {
    width: 50%;
    height:50%;
    font-family: 'Josefin Sans', sans-serif;


}

.awesome-image {
    width:50%;
    height:50%;

}

.random-information {
    background-color:white;
    color:#1F2937;
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
    padding:3em;
}

.random-information-box {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}
.random-box {
    width:25%;
    border-radius:25px;
    border: solid 2px #3882f6;
    height:20%;
    width:auto;
}



.quote {
    background-color:#E5E7EB;
    display:flex;
    width:100%;
    font-family: 'Josefin Sans', sans-serif;
    color:#1F2937;
    
}