
/*NAVBAR HEADER*/

header {
    background-color:#1F2937;
    width:100%;
}

header a:link {
    font-size:18px;
    color:#E5E7EB;
}

.navbar {
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:center;
    background-color:#1F2937;
    width:100%;
    height:5em;

}


.hero-text {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.subtext {
    font-size:18px;
    color:#E5E7EB;
}

/*MAIN BODY*/

.awesome-website {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;    
    background-color:#1F2937;
    color:#E5E7EB;
}

.awesome-text {
    width: 50%;
    height:50%;


}

.awesome-image {
    width:50%;
    height:50%;

}

.random-information {
    background-color:white;
    color:#1F2937;
}